.nav {
  background-color: orange;
}

.nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.nav :global(.active) {
  background-color: blue;
}

:global(.test) {
  background-color: red;
}
